#js-timeLinePanel {
    @import '_panel.boneTreeAndTimeLine';

    $panel-color: $topic-color3;

    .hd {
        border-left-color: $panel-color;
        color: $panel-color;
    }

    .js-addKeyframeBtn, .js-removeKeyframeBtn {
        float: right;
        cursor: pointer;
    }

    .js-addKeyframeBtn {
        margin-right: $add-remove-btn-space;
    }

    .bd {
        padding-top: $time-axis-height;
        position: relative;
    }

    .js-nowVernier,
    .js-mouseVernier {
        position: absolute;
        top: 0;
        height: 100%;
        width: 2px;
        margin-left: -1px;
        // 浮于关键帧上方
        z-index: 10;
        // 以防阻碍拖动关键帧
        pointer-events: none;

        &::before {
            $triangle-height: 6px;
            $triangle-width: 13px;
            content: '';
            position: absolute;
            top: (-1 * $triangle-height) + 2px;
            left: ($triangle-width / -2) + 1.5px;
            display: block;
            width: 0;
            height: 0;
            border-width: $triangle-height $triangle-width / 2;
            border-style: solid;
            border-color: transparent;
        }
    }

    .js-nowVernier {
        $c: $panel-color;

        background-color: $c;
        @include prefix(transition, left .15s);

        &::before {
            border-top-color: $c;
        }
    }

    .js-mouseVernier {
        $c: rgba($panel-color, 0.5);

        background-color: $c;
        display: none;

        &::before {
            border-top-color: $c;
        }
    }

    // 这里逻辑正确的前提是：
    // `.bd` 的border-box被 `.js-axis` 和 `.js-timeLine` 填满
    .bd:hover .js-mouseVernier {
        display: block;
    }

    .js-axis {
        // 刻度的高度
        $mark-height: 6px;

        margin-top: -1 * $time-axis-height;
        height: $time-axis-height;
        background: repeat-x 0 0 url(../img/time-axis.png);

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 1px;
            height: $mark-height;
            background: #fff;
        }
    }

    .axis-number {
        position: absolute;
        top: 10px;
        font-size: 12px;
        cursor: default;
        margin-left: -0.5em;

        &:first-child, &:nth-child(2) {
            margin-left: -0.25em;
        }
    }

    .js-timeLine{
        height: $item-height;
        background-clip: content-box;
        background-color: lighten($app-bg, 5%);
        position: relative;
        @include prefix(box-sizing, border-box);
        margin-bottom: $item-space;
        @include prefix(border-radius, $item-border-radius);
    }

    .js-keyframe {
        $top: 0px;
        $w: 8px;
        $h: $item-height - $top * 2;
        $bg: #fff;

        position: absolute;
        top: $top;
        margin-left: $w / -2;
        height: $h;
        width: $w;
        background: $bg;
        @include prefix(border-radius, $h);
        @include prefix(box-sizing, border-box);

        &.js-selected {
            $selected-bg: $topic-color1;
            background: $selected-bg;
            border: 1px solid darken($selected-bg, 20%);
        }
    }
}
