// 骨骼树面板和时间轴面板共用的变量

// 添加、删除按钮的间距
$add-remove-btn-space: 10px;

// 时间轴的高度
$time-axis-height: 25px;

// 一个骨骼条目或一条时间轴的高度
$item-height: 20px;

// 骨骼条目之间或时间轴之间的间隔
$item-space: 1px;

// 骨骼条目或时间轴的圆角
$item-border-radius: $border-radius;