$app-bg: #2e3138;
body {
    font-family: 'hiragino sans gb', 'microsoft yahei', Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: darken(#fff, 5%);
    background-color: $app-bg;
}

input {
    color: inherit;
}