/**
针对骨骼树面板的样式，通过骨骼树面板的选择器限定样式的作用范围
**/
#js-boneTreePanel {
    @import '_panel.boneTreeAndTimeLine';
    
    // 缩进
    $indent: 10px;
    // 此面板的主色和配色
    $main-color: #69B0AC;
    $sub-color1: #3a8fb7;
    $sub-color2: #897CBF;
    // hover骨骼条目时的背景色
    $hover-bg-alpha: .6;
    $hover-bg1: rgba($main-color, $hover-bg-alpha);
    $hover-bg2: rgba($sub-color2, $hover-bg-alpha);
    $drag-hint-width: 12px;

    overflow: auto;

    .hd {
        border-left-color: $main-color;
        color: $main-color;
    }

    .js-removeBoneBtn, .js-addBoneBtn {
        float: right;
        cursor: pointer;
        color: $topic-color3;
    }

    .js-addBoneBtn {
        margin-right: $add-remove-btn-space;
    }

    .bd {
        padding-top: $time-axis-height;
    }

    .js-bone {
        // 用于.drag-hint的绝对定位
        position: relative;

        & > .js-bone {
            margin-left: $indent;
        }
    }

    .drag-hint {
        position: absolute;
        left: 0;
        top: 0;
        width: $drag-hint-width;
        height: $item-height;
        background: repeat-y 50% 50% url(../img/dragable-area.png);
        cursor: move;
        @include prefix(user-select, none);
        // 使.drag-hint浮于.js-name的上方
        z-index: 1;

        &:hover + .js-name::before {
            opacity: 1;
        }
    }

    .js-name {
        height: $item-height;
        line-height: $item-height;
        cursor: default;
        // 给.drag-hint腾出空间
        padding-left: $drag-hint-width + 10px;
        // 将z-index显示设置为非auto的定位元素，会创建stacking context
        position: relative;
        z-index: 0;
        margin-bottom: $item-space;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: $item-height;
            opacity: 0;
            @include prefix(transition, opacity 0.3s);
            @include prefixVal(background-image, linear-gradient(left, $hover-bg1, $hover-bg2));
            position: absolute;
            left: 0;
            top: 0;
            // 使这个before伪元素衬在.js-name的普通子孙元素的下方
            z-index: -1;
        }
        &:hover::before {
            opacity: 1;
        }
    }

    // 激活骨骼始终处于高亮状态
    .js-activeBone > .js-name::before {
        opacity: 1;
    }
}
