// 景物面板
#js-scenePanel {
    .addBtn {
        $size: 20px;
        position: relative;
        top: 5px;
        display: inline-block;
        width: $size;
        height: $size;
        text-indent: -99999em;
        border: 1px solid #000;
        @include prefix('border-radius', $size / 2);
        cursor: pointer;
    }
    .addBtn::before,
    .addBtn::after {
        content: "";
        display: block;
        position: absolute;
        top: 9px;
        left: 2px;
        width: 16px;
        height: 2px;
        background: #000;
    }
    .addBtn::after {
        @include prefix('transform', rotate(90deg));
    }
}
