#js-timeLinePanel {
    $panel-color: $topic-color3;

    .hd {
        border-left-color: $panel-color;
        color: $panel-color;
    }

    .js-timeLine{
        margin-bottom: 13px;
        height: 2px;
        background-color: rgba(#bbb, 0.7);
    }
}
