// util mixin and class
// @module

// 给属性名加上浏览器厂商前缀
// @param {String} $prop 属性名
// @param {String} $val 一个或多个属性值
// @example
//     @include prefix(box-sizing, border-box);
//     @include prefix(flex, 3, 3, 3);
@mixin prefix ($prop, $val...) {
    -webkit-#{$prop}: $val;
    -moz-#{$prop}: $val;
    -ms-#{$prop}: $val;
    #{$prop}: $val;
}

// 给属性值加上浏览器厂商前缀
// @param {String} $prop 属性名
// @param {String} $val 一个属性值
// @example
//     @include prefix(display, flex);
@mixin prefixVal ($prop, $val) {
    #{$prop}: -webkit-#{$val};
    #{$prop}: -moz-#{$val};
    #{$prop}: -ms-#{$val};
    #{$prop}: #{$val};
}

.clearfix:after {
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    height: 0;
    line-height: 0;
    font-size: 0;
}
