@charset "UTF-8";
.clearfix:after, #js-panelWrap:after, #js-workspacePanel .js-coordSysScaleUtil:after {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  line-height: 0;
  font-size: 0;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  color: inherit;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************       common css          **************************/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/*::-webkit-scrollbar-button:start:decrement { width:10px; height:11px;}*/
::-webkit-scrollbar-button:end:increment {
  width: 10px;
  height: 0px;
}

::-webkit-scrollbar-track {
  border: 0;
  background-color: transparent;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #DDDADB;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  border-width: 1px 1px 1px 1px;
  min-height: 24px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: 1px 1px 1px 1px;
  min-width: 24px;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #C2C2C2;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #C2C2C2;
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: #D6D6D6;
}

::-webkit-scrollbar-thumb:horizontal:active {
  background-color: #D6D6D6;
}

body {
  font-family: 'hiragino sans gb', 'microsoft yahei', Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #f2f2f2;
  background-image: -webkit-linear-gradient(150deg, #3a8fb7, #fb9966 28%, #69b0ac 40%, #897cbf 65%, #3a8fb7 90%);
  background-image: -moz-linear-gradient(150deg, #3a8fb7, #fb9966 28%, #69b0ac 40%, #897cbf 65%, #3a8fb7 90%);
  background-image: -ms-linear-gradient(150deg, #3a8fb7, #fb9966 28%, #69b0ac 40%, #897cbf 65%, #3a8fb7 90%);
  background-image: linear-gradient(150deg, #3a8fb7, #fb9966 28%, #69b0ac 40%, #897cbf 65%, #3a8fb7 90%);
  background-color: #2e3138;
}

input {
  color: inherit;
}

html, body,
#js-panelWrap {
  width: 100%;
  height: 100%;
}

.js-panel {
  float: left;
  overflow: hidden;
  padding: 5px 25px;
  background-color: #444953;
  background-clip: padding-box;
  border: 1px solid transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.js-panel .hd {
  height: 30px;
  line-height: 30px;
  margin-top: -5px;
  margin-left: -25px;
  margin-bottom: 10px;
  border-left: 3px solid #fff;
  padding-left: 5px;
  font-size: 15px;
}

#js-bonePropPanel {
  width: 23.6076%;
  height: 61.8%;
  border-top: 0 none;
  border-bottom: 0 none;
}

#js-workspacePanel {
  width: 76.3924%;
  height: 61.8%;
  border: 0 none;
}

#js-boneTreePanel {
  width: 38.2%;
  height: 38.2%;
  border-bottom: 0 none;
  border-left: 0 none;
}

#js-timeLinePanel {
  width: 38.1924%;
  height: 38.2%;
  border-right: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
}

#js-actionPanel {
  width: 23.6076%;
  height: 38.2%;
  border-bottom: 0 none;
}

#js-bonePropPanel {
  overflow: auto;
}
#js-bonePropPanel .hd {
  border-left-color: #3a8fb7;
  color: #3a8fb7;
}
#js-bonePropPanel .propItem {
  height: 30px;
  margin-bottom: 1px;
}
#js-bonePropPanel .propName {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 45%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
  line-height: 30px;
  height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  background: #393d46;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
#js-bonePropPanel .js-propVal {
  vertical-align: middle;
  display: inline-block;
  margin: 0 0 0 -5px;
  border: 0 none;
  padding: 2px 5px;
  width: 55%;
  height: 30px;
  line-height: 30px;
  background-color: #2f333a;
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0 none;
  text-align: left;
}
#js-bonePropPanel .js-propVal[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  border: 0 none;
  padding: 0;
  position: relative;
  cursor: pointer;
}
#js-bonePropPanel .js-propVal[type=number]::-webkit-inner-spin-button::before, #js-bonePropPanel .js-propVal[type=number]::-webkit-inner-spin-button::after {
  display: block;
  position: absolute;
  right: 0;
  width: 30px;
  height: 15px;
  line-height: 15px;
  background: #393d46;
  text-align: center;
  vertical-align: middle;
}
#js-bonePropPanel .js-propVal[type=number]::-webkit-inner-spin-button::before {
  content: '+';
  top: 0;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
  -ms-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
}
#js-bonePropPanel .js-propVal[type=number]::-webkit-inner-spin-button::after {
  content: '-';
  font-size: 18px;
  bottom: 0;
  border-top: 1px solid #2f333a;
  background-clip: padding-box;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  line-height: 13px;
}

.clearfix:after, #js-panelWrap:after, #js-workspacePanel .js-coordSysScaleUtil:after {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  line-height: 0;
  font-size: 0;
}

#js-workspacePanel {
  background-color: #fff;
  position: relative;
  z-index: 0;
}
#js-workspacePanel::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: inset 0 0 10px black;
  -moz-box-shadow: inset 0 0 10px black;
  -ms-box-shadow: inset 0 0 10px black;
  box-shadow: inset 0 0 10px black;
  z-index: 1;
  pointer-events: none;
}
#js-workspacePanel #empty_wording {
  display: table;
  width: 100%;
  height: 100%;
  border: 2px dashed #6CAAD5;
  overflow: hidden;
  box-sizing: -webkit-border-box;
  box-sizing: -moz-border-box;
  box-sizing: -ms-border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #6CAAD5;
  font-size: 22px;
}
#js-workspacePanel #empty_wording_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#js-workspacePanel .js-coordSysScaleUtil {
  position: absolute;
  left: 20px;
  top: 20px;
  height: 20px;
  z-index: 3;
  color: #393d46;
  border: 1px solid #393d46;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#js-workspacePanel .js-zoomOut,
#js-workspacePanel .js-currentScale,
#js-workspacePanel .js-zoomIn {
  padding: 0 5px;
  float: left;
  height: 20px;
  line-height: 20px;
}
#js-workspacePanel .js-zoomOut,
#js-workspacePanel .js-zoomIn {
  font-size: 16px;
  cursor: pointer;
  vertical-align: baseline;
}
#js-workspacePanel .js-currentScale {
  border-left: 1px solid #393d46;
  border-right: 1px solid #393d46;
  font-size: 13px;
  cursor: pointer;
}
#js-workspacePanel .js-currentScale::after {
  content: '%';
  display: inline;
  padding-left: 1px;
}
#js-workspacePanel .js-reset::before, #js-workspacePanel .js-reset::after,
#js-workspacePanel .reset-icon::before,
#js-workspacePanel .reset-icon::after {
  content: '';
  position: absolute;
  display: block;
  border: 2px solid #393d46;
  width: 4px;
  height: 2px;
}
#js-workspacePanel .js-reset {
  position: absolute;
  top: -1px;
  right: -40px;
  height: 20px;
  width: 30px;
  border: 1px solid #393d46;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
#js-workspacePanel .js-reset::before {
  left: 6px;
  top: 3px;
  border-bottom: 0 none;
  border-right: 0 none;
}
#js-workspacePanel .js-reset::after {
  right: 6px;
  top: 3px;
  border-bottom: 0 none;
  border-left: 0 none;
}
#js-workspacePanel .reset-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#js-workspacePanel .reset-icon::before {
  left: 6px;
  bottom: 3px;
  border-top: 0 none;
  border-right: 0 none;
}
#js-workspacePanel .reset-icon::after {
  right: 6px;
  bottom: 3px;
  border-top: 0 none;
  border-left: 0 none;
}
#js-workspacePanel .js-coordinateSystem {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1px;
  height: 1px;
}
#js-workspacePanel .coordinateBg {
  position: absolute;
  z-index: 0;
  left: -5000px;
  top: -5000px;
  width: 10000px;
  height: 10000px;
  background-image: url(../img/workspace-bg.png);
}
#js-workspacePanel .coordinateBg::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(46, 49, 56, 0.5);
}
#js-workspacePanel .coordinateBg::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: rgba(46, 49, 56, 0.5);
}
#js-workspacePanel .js-boneContainer {
  z-index: 2;
  position: relative;
}
#js-workspacePanel .js-bone {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
#js-workspacePanel .js-activeBone {
  cursor: move;
}
#js-workspacePanel .js-activeBone::before {
  content: "";
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(30, 154, 207, 0.5);
}
#js-workspacePanel .js-joint {
  position: absolute;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
  background-color: rgba(26, 138, 185, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#js-workspacePanel .rotate {
  position: absolute;
  width: 26px;
  height: 26px;
  cursor: url(../img/refresh.png), auto;
  background-color: rgba(0, 0, 0, 0);
}
#js-workspacePanel .rotate1 {
  left: -15px;
  top: -15px;
}
#js-workspacePanel .rotate2 {
  right: -15px;
  top: -15px;
}
#js-workspacePanel .rotate3 {
  left: -15px;
  bottom: -15px;
}
#js-workspacePanel .rotate4 {
  right: -15px;
  bottom: -15px;
}
#js-workspacePanel .resize {
  position: absolute;
  width: 13px;
  height: 13px;
}
#js-workspacePanel .resize::before {
  content: "";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border: 1px solid rgba(26, 138, 185, 0.5);
  background-color: #fff;
}
#js-workspacePanel .resize1 {
  right: 0;
  bottom: 0;
  cursor: nw-resize;
}
#js-workspacePanel .resize1::before {
  left: -2px;
  top: -2px;
}
#js-workspacePanel .resize2 {
  left: 0;
  bottom: 0;
  cursor: sw-resize;
}
#js-workspacePanel .resize2::before {
  right: -2px;
  top: -2px;
}
#js-workspacePanel .resize3 {
  right: 0;
  top: 0;
  cursor: sw-resize;
}
#js-workspacePanel .resize3::before {
  left: -2px;
  bottom: -2px;
}
#js-workspacePanel .resize4 {
  left: 0;
  top: 0;
  cursor: nw-resize;
}
#js-workspacePanel .resize4::before {
  right: -2px;
  bottom: -2px;
}
#js-workspacePanel .js-activeBone::before,
#js-workspacePanel .js-transform-util {
  z-index: -1;
}

/**
针对骨骼树面板的样式，通过骨骼树面板的选择器限定样式的作用范围
**/
#js-boneTreePanel {
  overflow: auto;
}
#js-boneTreePanel .hd {
  border-left-color: #69b0ac;
  color: #69b0ac;
}
#js-boneTreePanel .js-removeBoneBtn, #js-boneTreePanel .js-addBoneBtn {
  float: right;
  cursor: pointer;
  color: #897cbf;
}
#js-boneTreePanel .js-addBoneBtn {
  margin-right: 10px;
}
#js-boneTreePanel .bd {
  padding-top: 25px;
}
#js-boneTreePanel .js-bone {
  position: relative;
}
#js-boneTreePanel .js-bone > .js-bone {
  margin-left: 10px;
}
#js-boneTreePanel .drag-hint {
  position: absolute;
  left: 4px;
  top: 0;
  width: 12px;
  height: 20px;
  background: repeat-y 50% 50% url(../img/dragable-area.png);
  cursor: move;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}
#js-boneTreePanel .drag-hint:hover + .js-name::before {
  opacity: 1;
}
#js-boneTreePanel .js-name {
  height: 20px;
  line-height: 20px;
  cursor: default;
  padding-left: 22px;
  position: relative;
  z-index: 0;
  margin-bottom: 1px;
}
#js-boneTreePanel .js-name::before {
  content: '';
  display: block;
  width: 100%;
  height: 20px;
  opacity: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
  background-image: -webkit-linear-gradient(left, rgba(105, 176, 172, 0.6), rgba(137, 124, 191, 0.6));
  background-image: -moz-linear-gradient(left, rgba(105, 176, 172, 0.6), rgba(137, 124, 191, 0.6));
  background-image: -ms-linear-gradient(left, rgba(105, 176, 172, 0.6), rgba(137, 124, 191, 0.6));
  background-image: linear-gradient(left, rgba(105, 176, 172, 0.6), rgba(137, 124, 191, 0.6));
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
#js-boneTreePanel .js-name:hover::before {
  opacity: 1;
}
#js-boneTreePanel .js-activeBone > .js-name::before {
  opacity: 1;
}

#js-timeLinePanel .hd {
  border-left-color: #897cbf;
  color: #897cbf;
}
#js-timeLinePanel .js-addKeyframeBtn, #js-timeLinePanel .js-removeKeyframeBtn {
  float: right;
  cursor: pointer;
}
#js-timeLinePanel .js-addKeyframeBtn {
  margin-right: 10px;
}
#js-timeLinePanel .bd {
  padding-top: 25px;
  position: relative;
}
#js-timeLinePanel .js-nowVernier,
#js-timeLinePanel .js-mouseVernier {
  position: absolute;
  top: 0;
  height: 100%;
  width: 2px;
  margin-left: -1px;
  z-index: 10;
  pointer-events: none;
}
#js-timeLinePanel .js-nowVernier::before,
#js-timeLinePanel .js-mouseVernier::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -5px;
  display: block;
  width: 0;
  height: 0;
  border-width: 6px 6.5px;
  border-style: solid;
  border-color: transparent;
}
#js-timeLinePanel .js-nowVernier {
  background-color: #897cbf;
  -webkit-transition: left 0.15s;
  -moz-transition: left 0.15s;
  -ms-transition: left 0.15s;
  transition: left 0.15s;
}
#js-timeLinePanel .js-nowVernier::before {
  border-top-color: #897cbf;
}
#js-timeLinePanel .js-mouseVernier {
  background-color: rgba(137, 124, 191, 0.5);
  display: none;
}
#js-timeLinePanel .js-mouseVernier::before {
  border-top-color: rgba(137, 124, 191, 0.5);
}
#js-timeLinePanel .bd:hover .js-mouseVernier {
  display: block;
}
#js-timeLinePanel .js-axis {
  margin-top: -25px;
  height: 25px;
  background: repeat-x 0 0 url(../img/time-axis.png);
}
#js-timeLinePanel .js-axis::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 6px;
  background: #fff;
}
#js-timeLinePanel .axis-number {
  position: absolute;
  top: 10px;
  font-size: 12px;
  cursor: default;
  margin-left: -0.5em;
}
#js-timeLinePanel .axis-number:first-child, #js-timeLinePanel .axis-number:nth-child(2) {
  margin-left: -0.25em;
}
#js-timeLinePanel .js-timeLine {
  height: 20px;
  background-clip: content-box;
  background-color: #393d46;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
#js-timeLinePanel .js-keyframe {
  position: absolute;
  top: 0px;
  margin-left: -4px;
  height: 20px;
  width: 8px;
  background: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#js-timeLinePanel .js-keyframe.js-selected {
  background: #3a8fb7;
  border: 1px solid #21526a;
}

#js-actionPanel .hd {
  border-left-color: #fb9966;
  color: #fb9966;
}
#js-actionPanel .js-action {
  width: 100%;
  height: 30px;
  line-height: 30px;
  padding: 0 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  outline: 0 none;
  font-size: 14px;
}
#js-actionPanel .js-action:nth-child(odd) {
  background: #393d46;
}
