@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****************************       common css          **************************/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/*::-webkit-scrollbar-button:start:decrement { width:10px; height:11px;}*/
::-webkit-scrollbar-button:end:increment {
  width: 10px;
  height: 0px;
}

::-webkit-scrollbar-track {
  border: 0;
  background-color: #f6f7f8;
}

::-webkit-scrollbar-track-piece {
  background-color: #f6f7f8;
}

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #DDDADB;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:vertical {
  border-width: 1px 1px 1px 1px;
  min-height: 24px;
}

::-webkit-scrollbar-thumb:horizontal {
  border-width: 1px 1px 1px 1px;
  min-width: 24px;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #C2C2C2;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #C2C2C2;
}

::-webkit-scrollbar-thumb:vertical:active {
  background-color: #D6D6D6;
}

::-webkit-scrollbar-thumb:horizontal:active {
  background-color: #D6D6D6;
}

body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 14px;
}

.clearfix:after, #js-panelWrap:after {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  line-height: 0;
  font-size: 0;
}

#js-actionPanel, #js-boneTreePanel {
  width: 30%;
}

#js-workspacePanel, #js-timeLinePanel {
  width: 70%;
}

#js-actionPanel, #js-workspacePanel {
  height: 70%;
  min-height: 210px;
}

#js-boneTreePanel, #js-timeLinePanel {
  height: 30%;
}

html, body,
#js-panelWrap {
  width: 100%;
  height: 100%;
}

.js-panel {
  float: left;
  overflow: hidden;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.js-panel .hd {
  height: 30px;
  line-height: 30px;
}
.js-panel .panelTitle {
  display: inline-block;
  padding-right: 10px;
}

#js-actionPanel {
  background: #FB9966;
}

#js-workspacePanel {
  background: #f2f2f2;
}

#js-boneTreePanel {
  background: #91B493;
}

#js-timeLinePanel {
  background: #3A8FB7;
}

.clearfix:after, #js-panelWrap:after {
  content: '';
  display: block;
  overflow: hidden;
  visibility: hidden;
  height: 0;
  line-height: 0;
  font-size: 0;
}

#js-workspacePanel #empty_wording {
  display: table;
  width: 100%;
  height: 100%;
  border: 2px dashed #6CAAD5;
  overflow: hidden;
  box-sizing: -webkit-border-box;
  box-sizing: -moz-border-box;
  box-sizing: -ms-border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #6CAAD5;
  font-size: 22px;
}
#js-workspacePanel #empty_wording_inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#js-workspacePanel > .js-coordinate-system {
  position: relative;
  left: 50%;
  top: 50%;
}
#js-workspacePanel .js-bone {
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 100%;
}
#js-workspacePanel .js-activeBone {
  cursor: move;
}
#js-workspacePanel .js-activeBone::before {
  content: '';
  display: block;
  position: absolute;
  left: -3px;
  top: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(30, 154, 207, 0.5);
}
#js-workspacePanel .js-joint {
  position: absolute;
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
  background-color: rgba(26, 138, 185, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#js-workspacePanel .js-rotate {
  position: absolute;
  left: -4px;
  top: -4px;
  width: 8px;
  height: 8px;
  cursor: url(../img/refresh.png), auto;
  background-color: rgba(26, 138, 185, 0.5);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
#js-workspacePanel .js-resize {
  position: absolute;
  right: -1px;
  bottom: -1px;
  width: 14px;
  height: 14px;
  cursor: nw-resize;
  overflow: hidden;
}
#js-workspacePanel .js-resize::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 28px;
  height: 2px;
  background-color: rgba(30, 154, 207, 0.5);
}
#js-workspacePanel .js-resize::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 28px;
  height: 2px;
  background-color: rgba(30, 154, 207, 0.5);
}

/**
针对骨骼树面板的样式，通过骨骼树面板的选择器限定样式的作用范围
**/
#js-boneTreePanel .js-bone {
  position: relative;
}
#js-boneTreePanel .js-bone > .js-bone {
  padding-left: 10px;
}

